<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.AnnouncementMapper">

  <select id="_findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.Announcement">
    <![CDATA[
    SELECT a.* FROM announcement a WHERE a.announce_id = #{announceId} FOR UPDATE
    ]]>
  </select>

</mapper>
