<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.LineWalletAccountMapper">

  <select id="findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.LineWalletAccount">
    <![CDATA[
    SELECT a.* FROM line_wallet_account a WHERE a.manager_id = #{managerId} FOR UPDATE
    ]]>
  </select>

</mapper>
