<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.MemberMapper">

  <select id="_findByUserIdForUpdateRaw" resultType="com.aicabinet.trade.domain.Member">
    <![CDATA[
    SELECT m.* FROM member m WHERE m.user_id = #{userId} FOR UPDATE
    ]]>
  </select>

  <select id="_findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.Member">
    <![CDATA[
    SELECT m.* FROM member m WHERE m.member_id = #{memberId} FOR UPDATE
    ]]>
  </select>
</mapper>
