<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.MemberLevelRuleMapper">

  <select id="findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.MemberLevelRule">
    <![CDATA[
    SELECT r.* FROM member_level_rule r WHERE r.id = #{id} FOR UPDATE
    ]]>
  </select>

  <select id="findByLevelCodeForUpdateRaw" resultType="com.aicabinet.trade.domain.MemberLevelRule">
    <![CDATA[
    SELECT r.* FROM member_level_rule r WHERE r.level_code = #{levelCode} FOR UPDATE
    ]]>
  </select>

</mapper>
