<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.MemberPointsLogMapper">

  <select id="findExpiredPoints" resultType="com.aicabinet.trade.domain.MemberPointsLog">
    <![CDATA[
    SELECT l.* FROM member_points_log l WHERE l.member_id = #{memberId} AND l.expire_at IS NOT NULL AND l.expire_at < #{now}
    ]]>
  </select>
</mapper>
