<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.MerchantWalletAccountMapper">

  <select id="findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.MerchantWalletAccount">
    <![CDATA[
    SELECT a.* FROM merchant_wallet_account a WHERE a.merchant_id = #{merchantId} FOR UPDATE
    ]]>
  </select>

</mapper>
