<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.OtaReleaseMapper">

  <select id="findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.OtaRelease">
    <![CDATA[
    SELECT r.* FROM ota_release r WHERE r.release_id = #{releaseId} FOR UPDATE
    ]]>
  </select>

</mapper>
