<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.PromotionActivityMapper">

  <select id="_findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.PromotionActivity">
    <![CDATA[
    SELECT * FROM promotion_activity WHERE activity_id = #{activityId} FOR UPDATE
    ]]>
  </select>
</mapper>
