<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.ScheduledTaskMapper">

  <select id="_findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.ScheduledTask">
    <![CDATA[
    SELECT t.* FROM scheduled_task t WHERE t.task_key = #{taskKey} FOR UPDATE
    ]]>
  </select>

</mapper>
