<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.SiteContractMapper">

  <select id="_findByDeviceIdForUpdateRaw" resultType="com.aicabinet.trade.domain.SiteContract">
    <![CDATA[
    SELECT c.* FROM site_contract c WHERE c.device_id = #{deviceId} FOR UPDATE
    ]]>
  </select>

  <select id="_findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.SiteContract">
    <![CDATA[
    SELECT c.* FROM site_contract c WHERE c.contract_id = #{contractId} FOR UPDATE
    ]]>
  </select>

</mapper>
