<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.SysDictDataMapper">

  <select id="_findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.SysDictData">
    <![CDATA[
    SELECT d.* FROM sys_dict_data d WHERE d.dict_data_id = #{dictDataId} FOR UPDATE
    ]]>
  </select>

  <select id="_findByDictTypeAndDictValueForUpdateRaw" resultType="com.aicabinet.trade.domain.SysDictData">
    <![CDATA[
    SELECT d.* FROM sys_dict_data d
    WHERE d.dict_type = #{dictType} AND d.dict_value = #{dictValue}
    FOR UPDATE
    ]]>
  </select>

</mapper>
