<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.WarehouseStocktakeMapper">

  <select id="findByIdForUpdateRaw" resultType="com.aicabinet.trade.domain.WarehouseStocktake">
    <![CDATA[
    SELECT s.* FROM warehouse_stocktake s WHERE s.stocktake_id = #{stocktakeId} FOR UPDATE
    ]]>
  </select>

</mapper>
