<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicabinet.trade.mapper.WarehouseInventoryMapper">

  <select id="_findByWarehouseSkuBatchForUpdateRaw" resultType="com.aicabinet.trade.domain.WarehouseInventory">
    <![CDATA[
    SELECT *
    FROM warehouse_inventory
    WHERE warehouse_id = #{warehouseId}
      AND sku_id = #{skuId}
      AND batch_no = #{batchNo}
    FOR UPDATE
    ]]>
  </select>
</mapper>
